@model List<LojaEstiloWeb.Models.Produto>
@{
    ViewData["Title"] = "Home";
}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/slides/carrossel-5.jpg" class="d-block w-100" alt="Imagem 1">
        </div>
        <div class="carousel-item">
            <img src="~/img/slides/carrossel-10.jpg" class="d-block w-100" alt="Imagem 2">
        </div>
        <div class="carousel-item">
            <img src="~/img/slides/carrossel-6.jpg" class="d-block w-100" alt="Imagem 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    using System.Security.Cryptography;
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div class="carousel-caption-custom">
        <h1>MONTE SUA SETUP COM ESTILO!</h1>
    </div>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if (Model != null) 
            { 
                @* if é para caso não tenha dados no banco *@

                @foreach (Produto produto in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="@produto.Fotos[0].Foto" alt="@produto.Nome" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@produto.Nome</h5>
                                    <div class="text-muted text-decoration-line-through">R$  @( (produto.ValorVenda * 1.10M).ToString("N2") ) </div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ @produto.ValorVenda.ToString("N2")0</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                }
            } else {
                <h3>Aguardem Novidades !!!</h3>
            }


            </div>
        </div>
    </section>